@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
   
}
.container .logo-container{
    padding: 40px 144px;
}
.container .service-container{
    
}
.container h1 {
    color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px;
}

.container p {
    color: var(--neutral-grey, #717171);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.container .logo {
    display: flex;
    margin-top: 51px;
}

.container .logo svg {
    margin-right: 130px;
}

.container h2 {
    width: 542px;
    display: block;
    margin-top: 50px;
    color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px;

}

.container p {
    color: var(--neutral-grey, #717171);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.container ul {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    }

.container ul li {
    width: 299px;
    border-radius: 8px;
background: var(--neutral-white, #FFF);
box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
margin-right: 144px;
}

.container ul li img {
    width: 48px;
    margin-bottom: 16px;
}

.container ul li b {
    color: var(--neutral-d-grey, #4D4D4D);
text-align: center;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36px;
width: 601px;
}

.container ul li p {
    color: var(--neutral-grey, #717171);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin-top: 10px;
}

.container ul li img {
    border-radius: 18px 5px 10px 5px;
background: var(--tint-t-5, #E8F5E9);
width: 50px;
height: 49px;
}

.container ul li:last-child b {
    width: 231px;

}

.container .main-box {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 148px;
}

.container .main-box .right-side b {
    color: var(--neutral-d-grey, #4D4D4D);
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px;

}

.container .main-box .right-side p {
    color: var(--neutral-grey, #717171);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin-top: 16px;
width: 601px;
}

.container .main-box .right-side a {
    width: 151px;
    display: flex;
padding: 14px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--brand-primary, #4CAF4F);
text-decoration: none;
color: var(--neutral-white, #FFF);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
margin-top: 32px;
}